/* =============
    Search
============= */
#search{

    >div{
        form{
            display: flex;
         
            input{
                width: 100%;
                box-sizing: border-box;
                border: none;
                border-bottom: 2px solid var(--aqua-blue);
                color: var(--dark-blue);
                border-radius: 0;

                @include xl{
                    margin-right: 20px;
                }

            }

            button{
                background-color: var(--light-orange);
                border-radius: 3.5px;
                padding: 6px 10px 4px;
                margin: 0;
                border: none;

                @include md{
                    padding: 9px 16px 6px;
                }
            }
        }
    }
}
